version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: postgres_container
    environment:
      POSTGRES_USER: ${PGUSERNAME}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      POSTGRES_DB: ${PGDATABASE}
      PGPORT: ${PGPORT}
    ports:
      - ${PGPORT}:${PGPORT}
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
